<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modal(allIngredientList)" class="modal fade" id="receiptModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- 헤더 -->
            <div class="modal-header">
                <div class="modal-title">
                    <h2>영수증</h2>
                </div>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 바디 -->
             <div class="modal-body">
                 <p class="fw-bold text-center">아래 목록들을 구매해주세요</p>
                 <section>
                    <ol>
                        <li th:each="entry: ${allIngredientList}">
                            <div class="d-flex justify-content-between">
                                <span th:text="${entry.key}"></span>
                                <span th:text="${entry.value}"></span>
                            </div>
                        </li>
                    </ol>
                 </section>
             </div>
        </div>
    </div>
</div>

</html>