<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div layout:fragment="content" class="pb-5">
    <div>
        <!-- 헤딩 -->
        <div class="fw-bold h4">
            <p>식단</p>

        </div>

        <div class="d-flex flex-row align-items-center justify-content-center my-4">
            <div class="fw-semibold me-5">일 수 선택</div>
            <input class="btn border" type="number" value="7"/>
        </div>

        <div class = "mb-5">
            <div th:style = "${'margin : 50px'}">아침</div>
            <div th:style = "${'margin : 50px'}">점심</div>
            <div th:style = "${'margin : 50px'}">저녁</div>
        </div>



    </div>



</div>
</html>