<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div layout:fragment="content" class="pb-5">
    <div>
        <!-- 헤딩 -->
        <div class="fw-bold h4">
            <p>식단</p>

        </div>

        <div class="d-flex flex-row align-items-center justify-content-center my-4">
        </div>

        <div class = "row flex-row flex-nowrap overflow-auto mb-2">
            <div th:style = "${'margin : 50px'}">아침</div>
            <div class="mb-2 fw-semibold"> <img th:src = "@{img/butadong.png}" th:style = "${'width : 60px;'}"></div>
            <!-- n일차 추천 요리 (시간별) -->
            <div>
            <div th:style = "${'margin : 50px'}">점심</div>
            <div th:style = "${'margin : 50px'}">저녁</div>
        </div>
    </div>
        <div class = "row flex-row flex-nowrap overflow-auto mb-2">
            <div th:style = "${'margin : 50px'}">아침</div>
            <div class="mb-2 fw-semibold"> <img th:src = "@{img/butadong.png}" th:style = "${'width : 60px;'}"></div>
            <!-- n일차 추천 요리 (시간별) -->
            <div>
                <div th:style = "${'margin : 50px'}">점심</div>
                <div th:style = "${'margin : 50px'}">저녁</div>
            </div>
        </div>


</div>
</div>

<script>




</script>