<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <title>Document</title></head>
<body>
<div style="margin : 0 auto;">
    <div class="v176_372">
        <div class="v177_506">
            <div class="v177_507">
                <span class="v177_508">추천 아침메뉴</span>
                <div class="v177_509">
                    <div class="v177_510"></div>
                    <div class="v177_511">
                        <div class="v177_512"></div>
                        <span class="v177_513">감자 짜글이</span></div>
                    <div class="v177_514">
                        <div class="v177_515"></div>
                        <span class="v177_516">콩나물 두부찜</span></div>
                    <div class="v177_517">
                        <div class="v177_518"></div>
                        <span class="v177_519">새우 연두부
달걀탕</span></div>
                    <div class="v177_520">
                        <div class="v177_521"></div>
                        <span class="v177_522">콘치즈 파이</span></div>
                </div>
            </div>
            <div class="v177_523">
                <div class="v177_524"></div>
                <span class="v177_525">추천 점심메뉴 </span>
                <div class="v177_526">
                    <div class="v177_527"></div>
                    <span class="v177_528">우삼겹 덮밥
규동</span></div>
                <div class="v177_529">
                    <div class="v177_530"></div>
                    <span class="v177_531">소고기
대파 볶음</span></div>
                <div class="v177_532">
                    <div class="v177_533"></div>
                    <span class="v177_534">부타동</span></div>
            </div>
            <div class="v177_535">
                <div class="v177_536"></div>
                <span class="v177_537">추천 저녁메뉴 </span>
                <div class="v177_538">
                    <div class="v177_539"></div>
                    <span class="v177_540">돈가스
김치나베</span></div>
                <div class="v177_541">
                    <div class="v177_542"></div>
                    <span class="v177_543">항정살 된장구이</span></div>
                <div class="v177_544">
                    <div class="v177_545"></div>
                    <span class="v177_546">새우 떡갈비</span></div>
            </div>
        </div>
        <div class="v177_547">
            <div class="v177_548">
                <div class="v177_549"></div>
                <div class="v177_550">
                    <div class="v177_551"></div>
                    <span class="v177_552">아침메뉴</span></div>
                <div class="v177_553">
                    <div class="v177_554"></div>
                    <span class="v177_555">오징어
간장조림</span></div>
                <div class="v177_556">
                    <div class="v177_557"></div>
                    <span class="v177_558">부추
달걀볶음</span></div>
                <div class="v177_559">
                    <div class="v177_560"></div>
                    <span class="v177_561">깻잎
들깨볶음</span></div>
            </div>
            <div class="v177_562">
                <div class="v177_563"></div>
                <span class="v177_564">저녁메뉴 </span></div>
            <div class="v177_565">
                <div class="v177_566"></div>
                <span class="v177_567">점심메뉴 </span>
                <div class="v177_568">
                    <div class="v177_569"></div>
                    <span class="v177_570">배추 어묵국</span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>