<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/default}">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link th:href="@{css/selectIngred.css}" rel="stylesheet"/>
    <title>Document</title></head>


<body>
<div layout:fragment="content" class="pb-5">
    <button id = "returnHome" th:style = "${'margin: 0 auto; background-color: yellow; fontcolor: white;'}">메인 페이지로</button>
    <div class="mb-2 fw-semibold">
        재료 선택
    </div>
<div class="row flex-row flex-nowrap overflow-auto mb-2"
     >
    <!-- 추천 요리 이미지와 이름 -->
    <div class="col-3">
        <img th:src="@{img/beef.png}" alt="소고기" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
        <span th:style = "${'margin : 100px;'}">소고기</span>
    </div>
    <div class="col-3">
    <img  th:src="@{img/fork.png}" alt="돼지고기" th:style = "${'height : 150px;'}" class="rounded w-100">
        <span th:style = "${'margin : 100px;'}">돼지고기</span>
    </div>
    <div class="col-3">
        <img th:src="@{img/chicken.png}" alt="닭고기" th:style = "${'height : 150px;'}" class="rounded w-100">
        <span th:style = "${'margin : 100px;'}">닭고기</span>
    </div>

</div>
    <div class="row flex-row flex-nowrap overflow-auto mb-2" th:style = "${'margin-top: 50px;'}"
    >
        <div class="col-3">
            <img th:src="@{img/rice.png}" alt="밥" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">밥</span>
        </div>
        <div class="col-3">
            <img  th:src="@{img/noodle.png}" alt="소면" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">소면</span>
        </div>
        <div class="col-3">
        <img th:src="@{img/pasta.png}" alt="파스타" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">파스타</span>
        </div>
        <div class="col-3">
            <img  th:src="@{img/bread.png}" alt="빵" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">빵</span>
        </div>
    </div>
    <div class="row flex-row flex-nowrap overflow-auto mb-2" th:style = "${'margin-top: 50px;'}"
    >
        <div class="col-3">
            <img  th:src="@{img/galchi.png}" alt="갈치" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">갈치</span>
        </div>
        <div class="col-3">
            <img  th:src="@{img/octopus.png}" alt="문어" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">문어</span>
        </div>
        <div class="col-3">
            <img  th:src="@{img/shrimp.png}" alt="새우" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">새우</span>
        </div>

    </div>
    <div class="row flex-row flex-nowrap overflow-auto mb-2" th:style = "${'margin-top: 50px;'}">
        <div class="col-3">
            <img  th:src="@{img/potaeto.png}" alt="감자" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">감자</span>
        </div>
        <div class="col-3">
            <img  th:src="@{img/carrot.png}" alt="당근" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">당근</span>
        </div>
        <div class="col-3">
            <img   th:src="@{img/corn.png}" alt="옥수수" th:style = "${'height : 150px; width : 100px;'}" class="rounded w-100">
            <span th:style = "${'margin : 100px;'}">옥수수</span>
        </div>
    </div>
    <div id = "selectIngreds" class="mb-2 fw-semibold">
        선택한 재료 :
    </div>
    <button id = "selectBut" th:style = "${'margin: 0 auto;'}">선택 완료</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    var texts = "";

    $(".col-3").click(function(){
    alert("선택");
    alert($(this).text().trim());
    texts += $(this).text().trim();
    alert(texts);
    $(this).css({"background-color":"red"});
    })
    $("#returnHome").click(function(){
    location.href = "/main";

    })
    $("selectBut").click(function(){

    })

</script>

</div>

</body>


</html>