<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>
    <div layout:fragment="content" class="pb-5">
        <div>
            <!-- 헤딩 -->
            <div class="fw-bold h4">
                <p>메뉴 고민 그만 해요</p>
                <p>저희가 추천해줄게요</p>
            </div>

            <!-- 일 수 선택 -->
            <div class="d-flex flex-row align-items-center justify-content-center my-4">
                <div class="fw-semibold me-5">일 수 선택</div>
                <input id="day-input" class="btn border" type="number" th:value="${day}"/>
            </div>

            <!-- 추천 리스트 날짜, 요리 시간별 -->
            <div>
                <div class="mb-5"
                        th:each="recommByDay : ${recommendationFullList}">
                    <div class="d-flex align-items-center">
                        <div class="fw-semibold"
                                th:text="${recommByDay.day} + '일차 추천 요리'"></div>
                        <button type="button" class="select-btn btn btn-sm btn-outline-secondary ms-2">선택하기</button>
                    </div>
                    <!-- n일차 추천 요리 (시간별) -->
                    <div>
                        <div th:each="recommByWhen: ${recommByDay.recommendationByWhenList}">
                            <!-- 요리 시간 아이콘 -->
                            <div class="d-flex align-items-center">
                                <span th:text="${recommByWhen.whenToCook}" class="me-2"></span>
                                <!-- 아침 아이콘 -->
                                <svg th:if="${recommByWhen.whenToCook.name() == 'MORNING'}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunrise" viewBox="0 0 16 16">
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <!-- 점심 아이콘 -->
                                <svg th:if="${recommByWhen.whenToCook.name() == 'LUNCH'}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                </svg>
                                <!-- 저녁 아이콘 -->
                                <svg th:if="${recommByWhen.whenToCook.name() == 'DINNER'}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunset" viewBox="0 0 16 16">
                                    <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </div>
                            <!-- 요리 리스트 -->
                            <div class="row flex-row flex-nowrap overflow-auto mb-2"
                                >
                                <!-- 추천 요리 이미지와 이름 -->
                                <div class="col-3"
                                        th:each="recomm : ${recommByWhen.recommendationList}">
                                    <div class="recipe-item" th:food="${recomm.food}"
                                         th:onclick="onClickRecipe([[${recomm.food}]])"
                                         >
                                        <img th:src="@{${recomm.food.imgUrl}}" alt="추천 요리 이미지" class="rounded w-100 " style="height: 20vh; object-fit: cover;">
                                        <div th:text="${recomm.food.name}" class="text-center text-truncate fw-bold"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- 영수증 출력 버튼 -->
            <button id="receipt-btn" type="button" class="rounded  btn btn-light border fw-bold"
                    data-bs-toggle="modal" data-bs-target="#receiptModal">
                <i class="bi bi-receipt"></i>
            </button>

        </div>

        <!-- 영수증 모달 -->
        <div th:replace="~{modal/receipt :: modal(${allIngredientList})}"></div>

        <!-- 레시피 상세 내용 모달 -->
<!--        <div th:replace="~{modal/recipe-detail :: modal(${})}"></div>-->
        <div  class="modal fade" id="recipe-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <!-- 헤더 -->
                    <div class="modal-header">
                        <div class="modal-title">
                            <h4 class="fw-bolder" id="recipe-header">레시피 이름</h4>
                        </div>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- 바디 -->
                    <div class="modal-body">
                        <h6 class="fw-bold">조리법</h6>
                        <p class="lh-lg" id="recipe-doc">...</p>
                        <!--                 <section>-->
                        <!--                    <ol>-->
                        <!--                        <li th:each="entry: ${allIngredientList}">-->
                        <!--                            <div class="d-flex justify-content-between">-->
                        <!--                                <span th:text="${entry.key}"></span>-->
                        <!--                                <span th:text="${entry.value}"></span>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <!--                    </ol>-->
                        <!--                 </section>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

<script layout:fragment="script" th:inline="javascript">
    $("#day-input").change(function() {
        const val = $(this).val();
        location.href = `/recommendation?day=${val}`;
    });

    $(".select-btn").click(function() {
        location.href = "/recipeView";
    });

    function onClickRecipe(recipe) {
        document.getElementById("recipe-header").innerText = recipe.name;
        document.getElementById("recipe-doc").innerText = recipe.doc;
        $('#recipe-modal').modal('show');
    }
</script>


<style layout:fragment="style">
    #receipt-btn {
        position: fixed;
        right: 20px;
        bottom: 20px;
    };
</style>

</html>
