* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v162_328 {
  width: 100%;
  height: 1630px;
  background: rgba(248,246,231,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v169_453 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 114px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v169_465 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 359px;
  overflow: hidden;
}
.v169_466 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 216px;
  left: 417px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_472 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 216px;
  left: 691px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_354 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 216px;
  left: 922px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_355 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 216px;
  left: 1196px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_467 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 216px;
  left: 163px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_476 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 163px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v171_304 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 827px;
  left: 186px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v171_307 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 827px;
  left: 713px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v171_313 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 827px;
  left: 447px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v171_317 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 197px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_344 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1441px;
  left: 159px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_345 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1441px;
  left: 447px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_346 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1441px;
  left: 729px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_353 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1452px;
  left: 1001px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_364 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1441px;
  left: 1255px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v175_341 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 475px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_347 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 714px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_349 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 1275px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_350 {
  width: 100px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 1592px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_348 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 1141px;
  left: 978px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_479 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 413px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_486 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 695px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_468 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_473 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_495 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 610px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v171_314 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 885px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_481 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 355px;
  overflow: hidden;
}
.v169_483 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 114px;
  overflow: hidden;
}
.v169_485 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 629px;
  overflow: hidden;
}
.v169_488 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 901px;
  overflow: hidden;
}
.v169_489 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 977px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_492 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 1224px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v177_880 {
  width: 91px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 545px;
  left: 1492px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_338 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 829px;
  left: 974px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_358 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 827px;
  left: 1259px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v176_361 {
  width: 158px;
  color: rgba(63,130,40,1);
  position: absolute;
  top: 827px;
  left: 1513px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v169_491 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 1135px;
  overflow: hidden;
}
.v169_494 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 120px;
  overflow: hidden;
}
.v171_306 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 341px;
  overflow: hidden;
}
.v171_312 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 629px;
  overflow: hidden;
}
.v171_316 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 108px;
  overflow: hidden;
}
.v171_319 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 941px;
  left: 643px;
  overflow: hidden;
}
.v171_321 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 938px;
  left: 918px;
  overflow: hidden;
}
.v171_323 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 938px;
  left: 1172px;
  overflow: hidden;
}
.v171_325 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 938px;
  left: 1481px;
  overflow: hidden;
}
.v171_327 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 650px;
  overflow: hidden;
}
.v171_329 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1229px;
  left: 339px;
  overflow: hidden;
}
.v171_331 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 856px;
  overflow: hidden;
}
.v171_335 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1098px;
  overflow: hidden;
}
.v171_337 {
  width: 100px;
  height: 100px;
  background: url("../images/v171_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 891px;
  overflow: hidden;
}
.v174_340 {
  width: 100px;
  height: 100px;
  background: url("../images/v174_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 377px;
  overflow: hidden;
}
.v176_343 {
  width: 100px;
  height: 100px;
  background: url("../images/v176_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1219px;
  left: 120px;
  overflow: hidden;
}
.v176_352 {
  width: 100px;
  height: 100px;
  background: url("../images/v176_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 892px;
  overflow: hidden;
}
.v176_357 {
  width: 100px;
  height: 100px;
  background: url("../images/v176_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 1201px;
  overflow: hidden;
}
.v176_360 {
  width: 100px;
  height: 100px;
  background: url("../images/v176_360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 1417px;
  overflow: hidden;
}
.v176_366 {
  width: 100px;
  height: 100px;
  background: url("../images/v176_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 1217px;
  overflow: hidden;
}
.v169_471 {
  width: 100px;
  height: 100px;
  background: url("../images/v169_471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 614px;
  overflow: hidden;
}
.v177_879 {
  width: 100px;
  height: 100px;
  background: url("../images/v177_879.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 1431px;
  overflow: hidden;
}
